@model IEnumerable<HTTP5101_Cumulative_Pt2_Natasha_Chambers.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<div>
    <h2>List of Teachers</h2>

    <form action="/Teacher/List" method="GET">
        <div class="searchBar">
            <input type="text" name="SearchKey" />
            <button type="submit" value="search_teacher">Search</button>
        </div>
    </form>
</div>

<div>
    @foreach (var teacher in Model)
    {
        <div>
            <a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a>
        </div>

    }
</div>